@model Inventory_management.Models.leave

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/adminView/adminEmployee3.cshtml";

}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4><b>Add New Leave</b></h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-10">
                <b>Employee ID</b>
                @Html.EditorFor(model => model.empId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.empId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <b>Reason</b>
                @Html.EditorFor(model => model.reason, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.reason, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <b>From Date</b>
                @Html.EditorFor(model => model.fromdate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fromdate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <b>To Date</b>
                @Html.EditorFor(model => model.todate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.todate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <b>No of Days</b>
                @Html.EditorFor(model => model.noofdays, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.noofdays, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index", new { @class = "btn btn-primary", @style = "color:white" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
