@model Inventory_management.Models.attendance



@{
    ViewBag.Title = "Attendance";
    Layout = "~/Views/Shared/userView/home.cshtml";
}


    <div class="signup-form">


            <h2 id="heaader" style="text-align:center; color:white;">Attendance</h2>

            @using (Html.BeginForm("Attendance", "proifle", FormMethod.Post, new { name = "profileForm", id = "profileForm" }))
            {
                @Html.HiddenFor(model => model.atdno)
                @Html.HiddenFor(model => model.date_)
                @Html.HiddenFor(model => model.status_)
                @Html.HiddenFor(model => model.no_of_days)

                <dl class="dl-horizontal" style="border:1px solid #b6b6b6; margin-top:10px; border-radius:5px; background:#f1f1f1; padding-top:15px;">
                    <dt style="margin-left:10px;">
                        <label>Registration ID</label>
                    </dt>
                    <dd style="color:#232424;">
                        @Html.DisplayFor(model => model.user_)
                    </dd>

                    <dt style="margin-left:10px;">
                        <label>Username</label>
                    </dt>
                    <dd>
                        @Session["username"]
                    </dd>

                    <p style="width:100%; background-color:#232424"></p>

                    <div class="prgres">
                        <label>Progress of month</label>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="@Session["progress"]%" aria-valuemin="0" aria-valuemax="100" style="width:@Session["progress"]%"></div>
                            @*<p style="margin:15px;">@Session["progress"]%</p>*@
                        </div>
                    </div>

                </dl>


                if ((Int32)(@Session["rDays"]) == 0)
                {
                    @*<div style="text-align:center;">
                        <button onclick="myFunction()">Click me</button>
                    </div>*@

                    <div style="text-align:center;">
                        <button class="btn_mark btn-profile" type="submit">Mark Your Attendance</button>
                    </div>
                }
                else
                {
                    <div style="text-align:center;">
                        <button class="btn_mark btn-profile" type="submit">Mark Your Attendance</button>
                    </div>
                }
            }


            <div class="outerblock" style="text-align:center; color:white;">

                <label class="lbl_cdays">Completed Days: </label>
                <div class="innerblock1">
                    <h3 class="days">@Model.no_of_days</h3>
                </div>
                <br />
                <label class="lbl_rdays">Remaining Days: </label>
                <div class="innerblock2">
                    <h3 class="days">@Session["rDays"]</h3>
                </div>

            </div>


            <p>
                @Html.ActionLink("Back To Profile", "Details", new { id = Model.user_ }, new { @class = "btn-profile" })

            </p>

        </div>






        @Scripts.Render("~/Scripts/jquery-3.4.1.min.js")
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

        @*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@
        <script src="~/Scripts/bootstrap.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>


        <script>
    function SubmitData() {
            debugger;
        document.profileForm.submit();

    }


    //function myFunction() {
    //     $('#attendanceModel').modal('show');
    //}






    $(document).ready(function () {

        $('#profileForm').submit(function (e) {
            e.preventDefault();

            if ((@Session["rDays"]) == 0) {
                $('#attendanceModel').modal('show');
            } else {
                document.profileForm.submit();
            }

            //$('#attendanceModel').modal('show');




            //var txt;
            //if (confirm("Press a button!")) {
            //    txt = "You pressed OK!";
            //    document.profileForm.submit();
            //} else {
            //    txt = "You pressed Cancel!";
            //}


        });
    });



        </script>




        <div id="attendanceModel" class="modal" style="left:30%; top:150px; width:500px;">

            <!-- Modal content -->

            <div class="modal-header" style="background-color:grey">
                <h1>Attendance</h1>
            </div>

            <div class="modal-content">
                @*<span class="close">&times;</span>*@
                <p>Do you want to continue the schedule?</p>
            </div>


            <div class="modal-footer" style="background-color:grey">
                <input class="btn btn-primary" type="button" onclick="SubmitData()" style="background-color:red" value="Continue" />
                <input class="btn btn-primary" type="button" onclick="" style="background-color:red" value="Change plan" />
                @*<button class="btn btn-primary" type="submit" onclick="Hello()" style="background-color:red">Continue</button>*@
                <button class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>

        </div>











