<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="css/bootstrap-grid.min.css">

</head>
<body>
    <header>

        <div class="col-sm-12 ">

            <nav class="navbar navbar-expand-lg py-2 " id="mainNav">
                <div class="container">
                    <a class="navbar-brand js-scroll-trigger lead font-weight-bold text-danger" href="#page-top ">
                        <img src="LOGO.jpg" alt="SKY GYM" class="img-thumbnail" style="width:100px">
                    </a>

                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav ml-auto my-2 my-lg-0"></ul>
                        <button type="button" class="btn btn-md btn-outline-danger">LOGOUT</button>
                    </div>
                </div>
            </nav>
        </div>

    </header>


    <div class="row">
        <div class="col-sm-2 bg-dark">    </div>

        <div class="col-sm-10 bg-dark text-white">
            <a href="@Url.Action("Index", "Bill")" class=" col-sm-3 list-group-item  bg-dark list-group-item-action text-white text-center float-left">Bill</a>
            <a href="@Url.Action("Index", "Inventory_pay")" class=" col-sm-3 list-group-item bg-secondary list-group-item-action text-white text-center float-left">Inventory</a>
            <a href="@Url.Action("Index", "Member")" class=" col-sm-3 list-group-item  bg-dark list-group-item-action text-white text-center float-left">Member</a>
            <a href="@Url.Action("Index", "Trainer")" class=" col-sm-3 list-group-item bg-dark list-group-item-action text-white text-center float-left">Trainer</a>

        </div>
    </div>
    <div class="container-fluid">
        <div class="row " style="height: 680px;">
            <div class="col-sm-2 bg-dark">

                <a href="@Url.Action("Index","User")" class="list-group-item  bg-dark list-group-item-action text-white text-center">User Profile</a> <br>

                <a href="@Url.Action("Index","Employee")" class=" list-group-item bg-dark list-group-item-action text-white text-center">Employee Management</a> <br>

                <a href="@Url.Action("Index","Schedule")" class=" list-group-item  bg-dark  list-group-item-action text-white text-center">Schedule Management</a> <br>

                <a href="@Url.Action("Index","Deit")" class="list-group-item bg-dark list-group-item-action text-white text-center">Diet Plan Management </a> <br>

                <a href="@Url.Action("Index","Store")" class="list-group-item bg-dark list-group-item-action text-white text-center">Store Management</a> <br>

                <a href="@Url.Action("Index","Bill")" class="list-group-item bg-secondary list-group-item-action text-white text-center">Payment Management</a> <br>

                <a href="@Url.Action("income","Finance")" class="list-group-item bg-dark list-group-item-action text-white text-center">Finance Management</a> <br>

                <a href="@Url.Action("Index","Inventory")" class="list-group-item bg-dark list-group-item-action text-white text-center">Inventory Management</a> <br>

            </div>

            <div class="container body-content">
                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - Sky Gym</p>
                </footer>
            </div>

            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")
            @RenderSection("scripts", required: false)
</body>
</html>
