@model IEnumerable<Inventory_management.Models.inventory_pay>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/adminView/payment2.cshtml";

}
<h2>Inventory Payment</h2>

<br>
<div class="container-fluid ">
    <a href="@Url.Action("Create")" class="btn btn-success">Create New</a>
    <div class="form-group" style="float:right">
        <div class="input-group">
            <input type="text" placeholder="Search" id="Search" aria-label="Search" class="form-control" />
        </div>
    </div>
</div>
<br>

<table class="table">
    <tr class="Search">
        <th>
            @Html.DisplayNameFor(model => model.paymentId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PayementDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Month)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="Search">
            <td>
                @Html.DisplayFor(modelItem => item.paymentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PayementDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Month)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.paymentId }, new { @class = "btn btn-primary", @style = "text-decoration:none;color:white;" }) |
                @Html.ActionLink("Details", "Details", new { id = item.paymentId }, new { @class = "btn btn-dark", @style = "text-decoration:none;color:white;" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.paymentId }, new { @class = "btn btn-danger", @style = "text-decoration:none;color:white;" })
            </td>
        </tr>
    }

</table>


<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    $(document).ready(function () {

        function Contains(text_one, text_two) {
            if (text_one.indexOf(text_two) != -1)
                return true;
        }


        $("#Search").keyup(function () {
            var searchText = $("#Search").val().toLowerCase();
            $(".Search").each(function () {

                if (!Contains($(this).text().toLowerCase(), searchText)) {
                    $(this).hide();
                }
                else {

                    $(this).show();
                }
            });

        });

    });

</script>